h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black;

    span {
        color: $primary-color;
    }
}

h1 {
    font-size: $h1-size;

    @media (max-width: $viewport - 1) {
        font-size: $h2-size;
    }
}

h2 {
    font-size: $h2-size;

    @media (max-width: $viewport - 1) {
        font-size: $h3-size;
    }
}

h3 {
    font-size: $h3-size;

    @media (max-width: $viewport - 1) {
        font-size: $h4-size;
    }
}

h5 {
    font-size: $h5-size;

    @media (max-width: $viewport - 1) {
        font-size: $h6-size;
    }
}