.section {
    padding: 50px 0;

    &-content {
        padding: 0 $spacing-unit * 2;

        @media (max-width: $viewport--xl - 1) {
            padding: 0;
        }

        &--withBg {
            padding-top: $spacing-unit * 2;
            padding-bottom: $spacing-unit * 2;

            @media (max-width: $viewport--xl - 1) {
                padding: $spacing-unit $spacing-unit;
            }
        }

        &--withGrid {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &-side {

        &--lg {
            max-width: 560px;
            width: 100%;
        }

        &--sm {
            max-width: 450px;
            width: 100%;

            @media (max-width: $viewport - 1) {
                margin-top: $spacing-unit;
            }
        }
    }
}