.formules {

    &-item {
        background-color: $light-grey;
        padding: $spacing-unit;
        margin-bottom: $spacing-unit;

        &-title {
            margin-bottom: $spacing-unit / 3;
        }

        &-text {
            margin-bottom: $spacing-unit;
        }

        &-action {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 20px;

            @media (max-width: $viewport--lg - 1) {
                flex-direction: column;
                align-items: flex-start;

                .button {
                    margin-top: $spacing-unit / 2;
                }
            }
        }

        &-price {

            h3 {
                font-size: 35px;
                color: $primary-color;
                margin: 0;
            }

            span {
                color: $light-black;
                font-size: 12px;
            }
        }
    }
}