// Viewports
$viewport--xxl: 1400px;
$viewport--xl: 1200px;
$viewport--lg: 992px;
$viewport: 768px;
$viewport--sm: 576px;
$viewport--xs: 340px; 

// Container sizes
$container--xxl: 1150px;
$container--xl: 860px;
$container--lg: 680px;
$container: 500px;
$container--sm: 300px;
$container--xs: 290px;

// Spacing
$spacing-unit: 30px;